/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #b5b6e8;
  margin: 0;
  padding: 0;
}

/* Main container styles */
.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Todo container styles */
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}
ul{
  margin-top: 15px;
  
}
/* Image styles */
.container img {
  width: 100px;
  margin-bottom: 20px;
}

/* Heading styles */
.container h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

/* Input styles */
.inputs {
  margin: 20px 0;
}

.inputs input {
  width: 93%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

/* Paragraph styles */
.container p {
  margin: 10px 0;
  color: #666;
}

.input{
  display: flex;
}
.icon{
  height: 30px;
  width: 30px;
  position: relative;
  top: 13px;
}
ul{
  font-size: 23px;
  text-align: center;
  position: relative;
  right: 24px;
}
.delicon{
  position: relative;
  left: 30px;
  top: 4px;
}
button{
    height: 30px;
    width: 100px;
}